<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>Seoul Art Center</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                showPost();
            });

            function showPost() {
                $.ajax({
                    type: "GET",
                    url: "/seoul_art_center",
                    data: {},
                    success: function (response) {
                        let temp = response["temp_dic"];
                        for (let i = 0; i < temp.length; i++) {
                            makeCard(temp[i]["title"]);
                        }
                    }
                });
            }

            function showPost() {
                $.ajax({
                    type: "GET",
                    url: "http://spartacodingclub.shop/post",
                    data: {},
                    success: function (response) {
                        let articles = response["articles"];
                        for (let i = 0; i < articles.length; i++) {
                            let article = articles[i];
                            makeCard(article["image"], article["url"], article["title"], article["desc"], article["comment"]);
                        }
                    }
                });
            }

            function makeCard(image, url, title, desc, comment) {
                let tempHtml = `<div class="card">
                                            <img class="card-img-top" src="${image}" alt="Card image cap">
                                            <div class="card-body">
                                                <a href="${url}" target="_blank" class="card-title">${title}</a>
                                                <p class="card-text">${desc}</p>
                                                <p class="card-text comment">${comment}</p>
                                            </div>
                                        </div>`;
                $("#cards-box").append(tempHtml);
            }

        </script>
        <style>
            * {
                font-family: 'DM Serif Display', serif;
            }

            .korea_font {
                font-family: "Do Hyeon", sans-serif;
            }

        </style>
    </head>
    <body>
        <div class="container center">
            <tbody id="reviews-box">
            <tr>
                <td>왕초보 8주 코딩</td>
            </tr>
            </tbody>
        </div>

    </body>
</html>