<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KOMU</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <style>
            * {
                font-family: 'DM Serif Display', serif;
            }
            .korea_font {
                font-family: "Do Hyeon", sans-serif;
            }

        </style>
    </head>
    <body>
        <div class="container center">
            <div style="margin-top: 50px; margin-bottom: 50px;">
                <img src="{{ url_for('static', filename='komu.png') }}"
                     class="img-fluid" alt="Responsive image" width="500">
            </div>
            <h1 class="title" style="margin-bottom: 50px; font-size: 50px;">
                <b> Korea Art Museum </b>
            </h1>
        </div>
        <div class="container center">
            <div class="row">

                <div class="col-sm">
                    <div class="image">
                        <img class="image_img" src="{{ url_for('static', filename='seoul_art_center.png') }}"
                             alt="Seoul Art Center"
                             style="border-radius: 5%">
                        <div class="image_overlay image_overlay--blur">
                            <div class="image_title" style="font-size: 30px"> Seoul Art Center </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>